# Example file
[discord]
  token = "YjQ4ODMyNTI0NzG3NDMwsDAw.CdNZBQ.fG5QVSUj7Gunf7CTTh69jG18tiQ" # Token bot
  status = "Music Bot | !!help"
  prefix = "!"

[youtube]
  token = "UIzRSyFyg75iDJbsKhaYk97UtgFriJjbo8uLH57"

